.calendar-header{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.days-wrapper{
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  place-items: center;
  font-size: 1.1rem;
}
.day{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header-wrapper{
  display: flex;
  align-items: center;
}
.header-wrapper button{
 background-color: transparent; 
 color: aliceblue;
border: none;
margin:0 0.5rem;
font-size: 1.1rem;
cursor: pointer;
}
.red{
  color: red;
}
.active{
  background-color: green;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
